.container {
  max-width: 1224px;
}
h2.title {
  color: #535353;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
}
.paragraph {
  color: #a2a2a2;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.6;
}
.url {
  border-bottom: #5da8ef 2px solid;
  color: #333;
  font-size: 12px;
  text-transform: uppercase;
}

/*========================================
1. HEADER
========================================*/

#header {
  align-items: center;
  display: flex;
  margin-bottom: 46px;
  padding: 37px 0 0;
}
#header .nav {
  flex-grow: 1;
}
#header .nav a {
  color: #3b3c3e;
}
#header .nav a:hover {
  color: #86a5e3;
}
.surfing-logo {
  margin-right: 207px;
}
.fa-bars {
  display: none;
}
.fa-shopping-cart {
  margin-right: 0px;
}

/*========================================
2. MAIN SLIDER
========================================*/

#main-slider {
  margin: 0 auto;
  max-width: 1310px;
}
.slick-list {
  padding: 50px 0;
}
.container-slider {
  padding: 0 30px 50px;
  position: relative;
}
.container-slider  img {
  box-shadow: -10px 20px 30px #a2a5a5;
}
.wrap-info {
  position: absolute;
  text-shadow: 3px 0px 17px #a2a5a5;
  top: 200px;
}
.wrap-info small {
  color: #5da8ef;
  font-size: 10px;
}
.wrap-info h1 {
  font-family: 'Playfair Display', serif;
  font-size: 62px;
  margin: 22px 0;
}
.wrap-info p {
  color: #8f8f8f;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  width: 389px;
}

/*========================================
3. Surf Experience
========================================*/

#SurfExperience {
  margin: 80px auto 0;
  padding-bottom: 175px;
  position: relative;
}
#SurfExperience h2 {
  margin: 0 auto;
  text-align: center;
  width: 612px;
}
#SurfExperience small {
  display: block;
  margin: 30px auto 50px;
  text-align: center;
}
#SurfExperience hr {
  background: #5da8ef;
  height: 100px;
  margin-bottom: 50px;
  width: 2px;
}
#SurfExperience img:nth-last-child(1) {
  cursor: pointer;
  right: 0;
  position: absolute;
  top: 365px;
}
#SurfExperience p {
  margin: 54px 0 29px 118px;
  width: 335px;
}
#SurfExperience a {
  margin: 0 0 0 118px;
}

/*========================================
4. Shop
========================================*/

#shop .owlSmallTitle {
  color: #5da8ef;
  display: block;
  text-align: center;
}
#shop h2.title {
  display: block;
  text-align: center;
  margin: 5px 0 50px;
}
#shop article {
  position: relative;
}
#shop article img {
  max-width: 251px;
}
.owlText {
  position: absolute;
  right: 0;
  top: 200px;
}
.owlText small {
  color: #939393;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 100;
}
.owlText h2 {
  color: #333;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  margin: 3px 0 30px;
}
.owlText p {
  color: #ce60a8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin-left: 55px;
}
.owlText a {
  color: #333;
  font-size: 14px;
  margin-left: 55px;
}

/*========================================
5. SurfLessons
========================================*/

#SurfLessons {
  margin-top: 170px;
}
.wrapTextLesson {
  clear: both;
  width: 340px;
}
.wrapTextLesson small {
  bottom: -45px;
  color: #f9f9f9;
  font-size: 130px;
  font-weight: bolder;
  position: relative;
}
.wrapTextLesson h2 {
  font-size: 42px;
  font-weight: bolder;
  position: relative;
  z-index: 2;
}
.wrapTextLesson hr {
  background: #5da8ef;
  height: 2px;
  width: 23px;
}
.wrapTextLesson p {
  margin-bottom: 30px;
}
#SurfLessons article:nth-child(even) .wrapTextLesson {
  float: right;
}
#SurfLessons article:nth-child(odd) .wrapTextLesson {
  float: left;
  margin-right: 59px;
}
#SurfLessons article:nth-child(even) {
  margin: 120px auto 0;
  width: 905px;
}

/*========================================
8. FOOTER
========================================*/

#footer {
  margin-top: 98px;
  text-align: center;
}
#nav-footer a {
  color: #3b3c3e;
  margin-top: 40px;
}
#social-network-footer i {
  color: #ebebeb;
  cursor: pointer;
  margin: 40px 17px;
}

@media screen and (max-width: 768px) {

  .slick-list {
    padding: 0;
  }
  .container-slider {
    padding: 0;
  }
  .container-slider  img {
    box-shadow: none;
    width: 100%;
  }
  .wrap-info {
    margin-bottom: 30px;
    position: inherit;
    text-align: center;
    text-shadow: none;
    top: 0;
  }
  .wrap-info small {
    color: #5da8ef;
    font-size: 10px;
  }
  .wrap-info h1 {
    font-family: 'Playfair Display', serif;
    font-size: 62px;
    margin: 22px 0;
  }
  .wrap-info p {
    color: #8f8f8f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    width: 100%;
  }

}

@media screen and (max-width: 480px) {

  #header {
    align-items: center;
    border-bottom: 1px solid #ccc;
    /* display: block; */
    margin-bottom: 46px;
    padding: 15px 0;
  }
  #header .nav {
    background: #fff;
    border-right: 1px solid #ccc;
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100px;
    z-index: 999;
  }
  #header .nav a {
    color: #3b3c3e;
    display: block;
    line-height: 1.6;
  }
  .fa-bars {
    display: block;
    flex-grow: 0;
    margin-left: 15px;
  }
  #header .nav a:hover {
    color: #86a5e3;
  }
  #logo {
    flex-grow: 1;
    text-align: center;
  }
  .surfing-logo {
    margin: 0 auto;
  }
  .fa-shopping-cart {
    margin-right: 15px;
  }

  /* 3. Surf Experience */

  #SurfExperience {
    margin: 40px auto 0;
    padding-bottom: 0px;
  }
  #SurfExperience h2 {
    width: 100%;
  }
  #SurfExperience img {
    width: 100%;
  }
  #SurfExperience img:nth-last-child(1) {
    position: inherit;
    top: 20px;
  }
  #SurfExperience p {
    margin: 20px auto;
    width: 100%;
  }
  #SurfExperience a {
    margin: 0;
  }

  /*========================================
  4. Shop
  ========================================*/

  #shop .owlSmallTitle {
    margin-top: 50px;
  }
  #shop article {
    position: relative;
  }
  #shop article img {
    max-width: 100%;
  }
  .owlText {
    margin-top: 20px;
    position: inherit;
    text-align: center;
    top: 0;
  }
  .owlText p {
    margin-left: 0;
  }
  .owlText a {
    margin-left: 0;
  }

  /* 5. SurfLessons */

  #SurfLessons {
    margin-top: 0px;
  }
  .wrapTextLesson {
    width: 100%;
  }
  .wrapTextLesson p {
    margin-bottom: 30px;
  }
  #SurfLessons img {
    margin-top: 30px;
    width: 100%;
  }
  #SurfLessons article:nth-child(even) .wrapTextLesson {
    float: none;
  }
  #SurfLessons article:nth-child(odd) .wrapTextLesson {
    float: none;
    margin-right: 0px;
  }
  #SurfLessons article:nth-child(even) {
    margin: 20px auto 0;
    width: 100%;
  }

}
